body{
  padding: 0;
  margin: 0;
  background-color: #58b3b3a5;
}
.popup{
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ticket-content{
    height:300px;
    width:500px;
    position: relative;
    background-color: #14B0B1;
    border-radius: 20px;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 30px;
    box-shadow: 1px 0px 9px 3px rgba(1, 1, 1, 0.235);
  }
  .ticket-content h2{
    text-align: center;
  }
  .details{
    display: flex;
    justify-content: center;
    padding-left: 60px;
  }
  .details span{
    font-family: cursive;
  }
  .details p{
    text-decoration: underline;
    font-family: cursive;
  }
  .first{
    width: 50%;
    text-align: start;
  }
  .second{
    width: 50%;
  }
  .buttons-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 17px;
    padding: 10px 0px;
  }
  .go-back, .confirm{
    background-color: rgb(234, 208, 9) ;
    padding: 6px 10px;
    border-radius: 8px;
    color: #000000;
    font-weight: 700;
    border: none;
  }
  .go-back:hover{
    background-color: #6CCACB;
    transition: 0.25s;
    cursor: pointer;
  }
  .confirm:hover{
    background-color: #6CCACB;
    transition: 0.25s;
    cursor: pointer;
  }
  .warning{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 7px;
    font-size: 14px;
  }
  .warning img{
    height: 17px;
    width: 17px;
  }
  @media(max-width : 800px){
    .ticket-content{
      height:400px;
      width:300px;
      position: relative;
      background-color: #14B0B1;
      border-radius: 20px;
      border-color: #000000;
      border-style: solid;
      border-width: 1px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 30px 30px;
      box-shadow: 1px 0px 9px 3px rgba(1, 1, 1, 0.235);
    }
    .details{
      display: flex;
      justify-content: center;
      padding-left: 20px;
    }
    .warning{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 30px;
      gap: 7px;
      font-size: 14px;
      padding: 20px 60px;
    }
  }
  .back{
    position: absolute;
    background-color: rgb(234, 208, 9) ;
    padding: 6px 10px;
    border-radius: 8px;
    color: #000000;
    font-weight: 700;
    top:620px;
    left:700px;
  }
  .fticket{
    position: absolute;
    top: 200px; 
    left: 600px;
    width:300px;
    height:400px;
    box-shadow: 1px 0px 9px 3px rgba(1, 1, 1, 0.235);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
  }
  .fromm{
    position: absolute;
    top: 170px;
    left: 40px;
    font-size: 15px;
    font-weight: 500;
  }
  .fromm1{
    position: absolute;
    top: 170px;
    left:170px;
    font-size: 15px;
    font-weight: 500;
  }
  .to{
    position: absolute;
    top: 195px;
    left: 40px;
    font-size: 15px;
    font-weight: 500;
  }
  .to1{
    position: absolute;
    top: 195px;
    left: 170px;
    font-size: 15px;
    font-weight: 500;
  }
  .time{
    position: absolute;
    top: 220px;
    left: 40px;
    width:200px;
    font-size: 15px;
    font-weight: 500;
  }
  .time1{
    position: absolute;
    top: 220px;
    left: 170px;
    width:200px;
    font-size: 15px;
    font-weight: 500;
  }
  .ttype{
    position: absolute;
    top: 245px;
    left: 40px;
    font-size: 15px;
    font-weight: 500;
  }
  .ttype1{
    position: absolute;
    top: 245px;
    left: 170px;
    font-size: 15px;
    font-weight: 500;
  }
  .passengers{
    position: absolute;
    top: 270px;
    left: 40px;
    font-size: 15px;
    font-weight: 500;
  }
  .passengers1{
    position: absolute;
    top: 270px;
    left: 170px;
    font-size: 15px;
    font-weight: 500;
  }
  .total{
    position: absolute;
    top: 295px;
    left: 40px;
    font-size: 15px;
    font-weight: 500;
  }
  .qrcode{
    position: absolute;
    top: 20px;
    left: 70px;
    width: 150px;
    height: 150px;
  }
 
  
  