.full-navbar{
    height: 110px;
    box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.269);
}

.top{
    height: 30px;
    background-color: #14B1B2;
}

.bottom{
    height: 80px;
    background-color: white;
}

.pattern{
    height: 30px;
}

.full-navbar .login li a{
    text-decoration: none;
    font-size:17px;
    color: #000000d4;
}

.full-navbar .login li a:hover{
    color: #ffffffd4;
    transition: 0.3s;
    cursor: pointer;
}

.full-navbar .login{
    display: flex;
    gap: 15px;
    padding: 2px 0px 2px 95px;
    margin: 0;
    list-style: none;
}

.top .container .row{
    display: flex;
    justify-content: space-between;
}

.full-navbar .bottom .container{
    height: 70px;
    padding-top: 15px;
}

.bottom .container .row{
    display: flex;
    justify-content: space-between;
}

.full-navbar .bottom .bottom-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.full-navbar .bottom .logo{
    height: 50px;
}

.full-navbar .bottom .metro-name{
    font-size: 25px;
    padding-left: 30px;
    font-weight: 700;
    color: #495b5b;
}

.full-navbar .bottom .bottom-right{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;
}

.full-navbar .bottom .bottom-right ul{
    display: flex;
    list-style: none;
    margin: 0;
    gap: 40px;
    text-decoration: none;

}

.full-navbar .bottom .bottom-right ul a{
    text-decoration: none;
    font-size:17px;
    color: #000000d4;
    font-weight: 600;
}

.full-navbar .bottom .bottom-right ul a:hover{
    color: #14B1B2;
}

.full-navbar .bottom .bottom-right button{
    background-color: #14B1B2;
    padding: 5px 20px 5px 20px;
    border: none;
    border-radius: 20px;
    font-size:17px;
    color: #000000d4;
    font-weight: 600;
    transition: 0.3s;
}

.full-navbar .bottom .bottom-right button:hover{
    color: #ffffff;
    cursor: pointer;
}




