body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 60px;
}

h1 {
  color: #333;
  text-align: center;
}

.shop-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop-card {
  display: flex;
  align-items: center;
  width: 400px;
  flex-basis: calc(50% - 20px);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 60px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.shop-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 40px;
  border-radius: 10px;
}
.shop-details {
  flex-grow: 1;
}



.shop-card h2 {
  color: #333;
  font-size: 18px;
  margin-top: 12px;
}

.shop-card p {
  color: #777;
  margin-top: 50px;
  font-size: 14px;

}






