*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.full-navbar{
  position: absolute;
  width: 100%;
  height: 110px;
  box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.269);
  padding: 0;
  z-index: 9999;
}

.top{
  height: 30px;
  width: 100%;
  height: 30px;
}

.top .top-in{
  margin: 0;
  padding: 0 23px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #14B1B2;

}

.pattern{
  height: 30px;
  padding-left: 45px;
}

.full-navbar .login {
  min-width:350px;
  text-decoration: none;
  font-size:17px;
  display: flex;
  gap: 15px;
  padding: 2px 0px 2px 95px;
  margin: 0;
  list-style: none;
}

.full-navbar .login li a{
  color: #000000d4;
  cursor: pointer;
}

.full-navbar .login li a:hover{
  color: #ffffffd4;
  transition: 0.3s;
  cursor: pointer;
}

.full-navbar .bottom{
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  /* position: fixed; */
}

.bottom .row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 50px;
}

.full-navbar .bottom .bottom-left{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.full-navbar .bottom .bottom-left p{
  margin: 0;;
}

.full-navbar .bottom .logo{
  height: 50px;
}

.full-navbar .bottom .metro-name{
  left:150px;
  width:400px;
  font-size: 25px;
  font-weight: 700;
  color: #495b5b;
}

.full-navbar .bottom .bottom-right{
  width:400px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.full-navbar .bottom .bottom-right ul{

  display: flex;
  list-style: none;
  margin: 0;
  gap: 40px;
  text-decoration: none;

}

.full-navbar .bottom .bottom-right ul a{
  text-decoration: none;
  font-size:17px;
  color: #000000d4;
  font-weight: 600;
}

.full-navbar .bottom .bottom-right ul a:hover{
  color: #14B1B2;
}

.full-navbar .bottom .bottom-right .button1{
  left:1100px;
  background-color: #14B1B2;
  padding: 5px 20px 5px 20px;
  border: none;
  border-radius: 20px;
  font-size:17px;
  color: #000000d4;
  font-weight: 600;
  transition: 0.3s;
}
.full-navbar .bottom .bottom-right .button2{
  left:1200px;
  width:120px;
  background-color: #14B1B2;
  padding: 5px 20px 5px 20px;
  border: none;
  border-radius: 20px;
  font-size:17px;
  color: #000000d4;
  font-weight: 600;
  transition: 0.3s;
}

.full-navbar .bottom .bottom-right button:hover{
  color: #ffffff;
  cursor: pointer;
}
.container{
    width: 100%;
    height: 100vh;
    background-position:center;
    background-size:cover;
    background-color:   rgba(79, 106, 122, 0.658);
}
.form-box{
  width: 480px;
  height:500px;
  max-width:300px;
  position: absolute;
  background-color: #fcfdfd;
  top: 50%;
  left: 50%;
  bottom: 2x;
  transform: translate(-50%,-50%);
  text-align: center;
  border-radius: 20px;
}
.form-box h1{
    font-size: 30px;
    margin:30px;
    color: #0c0e0d;
}
input[type=text] {
    padding:10px;
    margin: 12px;
    border:0;
    box-shadow: 100px 50px rgba(0,0,0,0.06);
    border-radius:10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  input[type=password] {
    padding:10px;
    margin: 12px;
    border:0;
    box-shadow: 100px 50px rgba(0,0,0,0.06);
    border-radius:10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .weak { color: red; font-size: 11px; }
  .medium { color: orange; font-size: 11px; }
  .strong { color: green; font-size: 11px; }
  .match { color: green; font-size: 11px; }
  .mismatch { color: red; font-size: 11px; }
  .have {
    position:absolute;
    top:400px;
    left:80px;
    font-size: 12px;
    color:#000000;
    text-decoration: none;
  }
button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin:  10px;
  width: 100px;
  padding: 10px 0;
  transition: 0.4s;
}
.sign {
  color: #000302;
  background-color: #14B1B2;
}
button:hover {
    color: rgb(255, 255, 255);
    width:10;
    background-color: #000000;
  }

