*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-position:center;
    background-size:cover;

}

.reg{
    position:absolute;
    left:1050px;
    top:50px;
    margin:  25px;
    width: 100px;
    padding: 10px 0;
    border-radius: 20px;
    border: 0;
    background-color: #18cea0;
}

.log{
    position:absolute;
    left:1200px;
    top:50px;
    margin:  25px;
    width: 100px;
    padding: 10px 0;
    border-radius: 20px;
    border: 0;
    background-color: #18cea0;
}
.book{
    position:absolute;
    left:20px;
    top:150px;
    margin:  25px;
    width: 150px;
    padding: 10px 0;
    border-radius: 10px;
    border: 0;
    background-color: #18cea0;
}
.fare{
    position:absolute;
    left:300px;
    top:150px;
    margin:  25px;
    width: 150px;
    padding: 10px 0;
    border-radius: 10px;
    border: 0;
    background-color: #18cea0;
}
.timing{
    position:absolute;
    left:550px;
    top:150px;
    margin:  25px;
    width: 150px;
    padding: 10px 0;
    border-radius: 10px;
    border: 0;
    background-color: #18cea0;
}
.timer{
    position:absolute;
    left:800px;
    top:150px;
    margin:  25px;
    width: 150px;
    padding: 10px 0;
    border-radius: 10px;
    border: 0;
    background-color: #18cea0;
}

.location{
    position:absolute;
    left:1050px;
    top:150px;
    margin:  25px;
    width: 150px;
    padding: 10px 0;
    border-radius: 10px;
    border: 0;
    background-color: #18cea0;
}

div {
    background-color: rgb(61, 53, 53);
    width: 3px;
    border: 5px solid #18cea0;
    padding: 5px;
    position:absolute;
    top:10px;
    box-sizing: border-box;
  }