body{
    margin: 0;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    /* background-image: linear-gradient(white, #14B1B2); */
}

table {
    width: 80%;
    border-collapse: collapse;
    min-height: 100px;
    min-width: 320px;
    max-height: 300px;
    overflow-y: auto;
}


table, th, td {
    border: 1px solid black;
}

tr{
    width: 100%;
}

th {
    background-color: #c4c4c4;
    border-right: black;
    border-right-width: 1px;
    border-right-style: solid;
    font-size: 17px;

}

td{
    font-size: 16px;
    height: 80px;
    border-right: black;
    border-right-width: 1px;
    border-right-style: solid;
    text-align: center;
    height: 50px !important;
}

.table-container{
    display: flex;
    justify-content: center !important;
    max-height: 800px !important;
    align-items: center;
    overflow-y: auto;
    max-height: 600px;
}

.lf-heading-in{
    text-align: center;
    background-color: #14B1B2;
    padding: 15px;
    margin-top: 40px;
    min-width: 320px;
    font-size: 24px;
}

dialog:modal{
    padding: 50px 100px;
    background-color: #4fb2b2;
    border-radius: 15px;
    border-width: 10px;
    border-color: #637778;
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.495);
}

.item-details{
    font-size: 19px;
    font-weight: 600;
}

.det-head{
    font-size: 26px;
    margin: 0px 0px;
    margin-bottom: 30px;
}

#lost-item-modal input{
    height: 25px;
    width: 230px;

}

#close-lost-item-modal, #close-lost-modal{
    padding: 7px 15px;
    background-color: aliceblue;
    border-radius: 13px;
    border: none;
    font-size: 13px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.669);
    cursor: pointer;
}

#close-lost-item-modal:hover{
    color: #14B1B2;
    background-color: rgb(218, 253, 255);
}

#close-lost-modal:hover{
    color: #14B1B2;
    background-color: rgb(218, 253, 255);
}

#close-lost-modal:active{
    font-weight: 600;
    border: black;
    border-width:1px;
    border-style: solid;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.674) ;
}


#close-lost-item-modal:active{
    font-weight: 600;
    border: black;
    border-width:1px;
    border-style: solid;
    box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.674) ;
}


.nav-btn{
    gap: 2rem;
    margin-top: 20px;
}



dialog:modal form div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

dialog:modal form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.claim, .claimed{
    padding: 7px 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.claim{
    color: white;
    background-color: rgb(41, 135, 41);
    /* background-color: #c4c4c4; */
}

.claimed{
    /* color: rgb(177, 1, 1); */
    color: white;
    background-color: rgb(177, 1, 1);
}

.id{
    width: 5rem;
}

.dof{
    width: 9rem;
}

.location{
    width: 18rem;
}

.item-desc{
    width: 18rem;
}

.quantity{
    width: 5rem;
}

.action{
    width: 10rem;
}

table{
    max-height: 500px;
    overflow-y: scroll;
}

@media(max-width:626px){
    dialog:modal{
        padding: 30px 60px;
        background-color: #4fb2b2;
        border-radius: 15px;
        border-width: 10px;
        border-color: #637778;
    }
    

}

@media(max-width:500px){
    dialog:modal{
        padding: 20px 40px;
    }
}

@media(max-width:380px){
    dialog:modal{
        padding: 20px 10px;
    }
}



.lost-found-table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    /* border-radius: 100px; */
}

.lost-found-table th,
.lost-found-table td {
    padding: 4px;
    border: 1px solid #ddd;
    text-align: center;
}

.lost-found-table th {
    padding:15px;
    background-color: #47A992;
    font-weight: bold;
}

/* Reduce the width of the date and time column */
.lost-found-table th:nth-child(4),
.lost-found-table td:nth-child(4) {
    width: 140px;
}

.lost-found-table tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}

#open-lost-item-modal {
    display: inline-block;
    margin: 0 10px; /* Add small space between buttons */
    background: #26adad;
    font-size: 18px; /* Increase font size by 1.5 times */
    padding: 15px 45px; /* Increase button size by 1.5 times */
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.6s;
  }
  
  #open-lost-item-modal:hover {
    background: linear-gradient(rgba(11, 61, 210, 0.75), rgba(10, 127, 230, 0.75));
    color: white;
  }

  /* CSS for the claim form */
.claim-form {
    display: none;
  }
  
  .claim-form input[type="text"],
  .claim-form select {
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .claim-form input[type="submit"],
  .claim-form button, table button {
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: #14B1B2;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 5px;
  }
  
  .claim-form button, table button {
    background-color: #c4c4c4;
    color: rgb(177, 1, 1);
    margin-right: 0px;
  }
  
  .claim-form input[type="submit"]:hover,
  .claim-form button:hover,table button:hover {
    background-color: #0C8A8B;
  }
  
  .claim-form input[type="submit"]:active,
  .claim-form button:active ,table button:active {
    background-color: #0C8A8B;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  }
  
  .claim-form div {
    display: flex;
    flex-direction: column;
  }
  
  .claim-form label {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  